.footer {
  height: 100px;
  margin-top: auto;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footerContents {
  width: 96%;
  max-width: 1100px;
  height: 100%;
  margin-left: 20px;
  border: 2px solid red;
}

.footerTitle {
  font-weight: 600;
  font-size: 20px;
  border: 2px solid red;
}

.footerButtons {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
}
